body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  color: grey;
  font-family: Verdana, sans-serif;
}

.maindiv {
  background-color: white;
  border-radius: 25px;
  color: black;
  padding: 20px;
  text-align: center;
  width: 300px;
}
